* {
  margin: 0;
  font-family: "SF Pro Display";
}

body {
  min-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
}
.background {
  background: url(../assets/background.png) no-repeat;
  max-height: 900px;
}

h2 {
  color: #95B2D8;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

.yellow {
  color: #F2C94C;
}

header {
  display: flex;
  flex-direction: row;
}
header img {
  padding: 55px 79px 0px 50px;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-top: 50px;
}
header ul a {
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
header ul a:hover {
  text-decoration: underline;
  color: #F2C94C;
}
header .phone-contact {
  padding-left: 190px;
}

.heading-services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading-services__title {
  padding: 163px 162px 304px 50px;
  color: #FFFFFF;
}
.heading-services__title h1 {
  font-size: 67px;
  padding-bottom: 15px;
}
.heading-services__title p {
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 30px;
}
.heading-services .help-buttons {
  display: flex;
  gap: 15px;
}
.heading-services .help-buttons button:first-of-type {
  width: 160px;
  height: 50px;
  background: #F2C94C;
  color: #333333;
  border-radius: 40px;
  border-style: none;
  transition: all 0.2s ease-in;
}
.heading-services .help-buttons button:first-of-type:hover {
  cursor: pointer;
  width: 160px;
  height: 50px;
  background: none;
  color: #F2C94C;
  border-radius: 40px;
  border-style: none;
}
.heading-services .help-buttons button:nth-of-type(2) {
  width: 160px;
  height: 50px;
  background: none;
  color: #F2C94C;
  border-radius: 40px;
  border-style: none;
  transition: all 0.2s ease-in;
}
.heading-services .help-buttons button:nth-of-type(2):hover {
  cursor: pointer;
  width: 160px;
  height: 50px;
  background: #F2C94C;
  color: #333333;
  border-radius: 40px;
  border-style: none;
}
.heading-services img {
  padding-top: 92px;
  padding-right: 0px;
  max-width: 803px;
  max-height: 436px;
}

.cards-workers {
  min-height: 584px;
  min-width: 1200px;
}
.cards-workers .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin: -82px 50px 100px 50px;
}
.cards-workers .cards .card {
  width: 430px;
  height: 616px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(47, 128, 237, 0.15);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}
.cards-workers .cards .card img {
  width: 200px;
  height: 200px;
  padding: 50px 118px 30px 112px;
}
.cards-workers .cards .card h3 {
  font-weight: "SF Pro Display", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #4F4F4F;
}
.cards-workers .cards .card h3 .yellow {
  color: #F2C94C;
}
.cards-workers .cards .card p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4F4F4F;
  padding: 20px 50px 30px 50px;
}
.cards-workers .cards .card button {
  width: 160px;
  height: 50px;
  background: #F0F6FE;
  color: #95B2D8;
  border-radius: 40px;
  border-style: none;
  margin-left: 135px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.cards-workers .cards .card button:hover {
  width: 160px;
  height: 50px;
  background: #F2C94C;
  color: #333333;
  border-radius: 40px;
  border-style: none;
}
.cards-workers .cards .card:hover {
  transform: translateY(-50px);
}

.description {
  background: url(../assets/background2.png) no-repeat;
  height: 659px;
}
.description__heading {
  padding-top: 50px;
}
.description__heading p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4F4F4F;
}
.description__main {
  display: flex;
  gap: 50px;
}
.description__main .image {
  margin-top: 50px;
}
.description__main .text {
  width: 710px;
  height: 398px;
  padding-top: 84px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}
.description__main .text .paragraph1 {
  grid-area: 1/1/2/2;
}
.description__main .text .paragraph2 {
  grid-area: 1/2/2/3;
}
.description__main .text .paragraph3 {
  grid-area: 2/1/3/2;
}
.description__main .text .paragraph4 {
  grid-area: 2/2/3/3;
}
.description__main .text img {
  width: 24px;
  height: 24px;
}
.description__main .text p {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
}
.description__main .text .button1 button {
  width: 160px;
  height: 50px;
  background: #F2C94C;
  color: #333333;
  border-radius: 40px;
  border-style: none;
  transition: all 0.2s ease-in;
}
.description__main .text .button1 button:hover {
  cursor: pointer;
  width: 160px;
  height: 50px;
  background: none;
  color: #95B2D8;
  border-radius: 40px;
  border-style: none;
}
.description__main .text .button2 button {
  width: 160px;
  height: 50px;
  background: none;
  color: #95B2D8;
  border-radius: 40px;
  border-style: none;
  transition: all 0.2s ease-in;
}
.description__main .text .button2 button:hover {
  cursor: pointer;
  width: 160px;
  height: 50px;
  background: #F2C94C;
  color: #333333;
  border-radius: 40px;
  border-style: none;
}
.description__main .text .buttons {
  display: flex;
  gap: 15px;
  padding-top: 20px;
}

.services {
  height: 696px;
}
.services .working-types {
  width: 199px;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 61px;
  grid-row-gap: 0px;
}
.services .working-types p {
  padding-top: 20px;
  text-align: center;
}
.services .type1 {
  grid-area: 1/1/2/2;
}
.services .type2 {
  grid-area: 1/2/2/3;
}
.services .type3 {
  grid-area: 1/3/2/4;
}
.services .type4 {
  grid-area: 1/4/2/5;
}
.services .type5 {
  grid-area: 1/5/2/6;
}

footer {
  background-color: #F0F6FE;
}
footer .contact-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .contact-information .contact-form {
  margin: 40px 100px;
}
footer .contact-information .contact-form input {
  border: none;
  border-radius: 6px;
  width: 470px;
  height: 22px;
  resize: none;
  margin: 10px 0px;
  padding: 14px 16px;
}
footer .contact-information .contact-form input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #4F4F4F 0.1;
}
footer .contact-information .contact-form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #4F4F4F 0.1;
}
footer .contact-information .contact-form textarea {
  border: none;
  border-radius: 6px;
  width: 470px;
  height: 42px;
  resize: none;
  padding: 14px 16px;
  margin: 10px 0px;
}
footer .contact-information .contact-form textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #4F4F4F 0.1;
}
footer .contact-information .contact-form textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #4F4F4F 0.1;
}
footer .contact-information .contact-form button {
  width: 160px;
  height: 50px;
  background: #F2C94C;
  color: #333333;
  border-radius: 40px;
  border-style: none;
  transition: all 0.2s ease-in;
}
footer .contact-information .contact-form button:hover {
  cursor: pointer;
  width: 160px;
  height: 50px;
  background: none;
  color: #95B2D8;
  border-radius: 40px;
  border-style: none;
}
footer .contact-information .contact {
  background: url(../assets/background-footer.png) no-repeat;
  background-size: 801px 430px;
  width: 801px;
}
footer .contact-information .contact h1 {
  text-align: end;
  padding: 164px 50px;
  color: #FFFFFF;
  font-size: 61px;
  line-height: 72.28px;
}/*# sourceMappingURL=style.css.map */