@import 'variables';
@import 'mixins';

* {
    margin: 0;
    font-family: 'SF Pro Display';
}

body {
    min-width: 1200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

@font-face{
    font-family: 'SF Pro Display';
    src: url('#{$font-path}SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
}

.background {
  background: url(../assets/background.png) no-repeat;
  max-height: 900px;
}

h2 {
    color: $additional-color;
    font-family: $primary-font;
    font-weight: $primary-bold;
    font-size: 48px;
    text-align: center;
}

.yellow {
    color: $button-color;
}

header {
    display: flex;
    flex-direction: row;

    img {
        padding: 55px 79px 0px 50px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap:$spacing-lg;
        padding-top: $spacing-lg;

        a {
            text-decoration: none;
            white-space: nowrap;
            font-family: $secondary-font;
            font-weight: $secondary-bold;
            font-size: $secondary-size;
            color: $secondary-color;

                &:hover {
                    text-decoration: underline;
                    color: $button-color;
                }
        }
        
    }

    .phone-contact {
        padding-left: 190px;
    }
}

.heading-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

        &__title {
            padding: 163px 162px 304px 50px;
            color: $secondary-color;

                h1 {
                    font-size: 67px;
                    padding-bottom: $spacing-xs;
                }

                p {
                    white-space: nowrap;
                    font-family: $secondary-font;
                    font-weight: $secondary-bold;
                    font-size: $secondary-size;
                    padding-bottom: $spacing-md;
                }
        }

        .help-buttons {
            display: flex;
            gap: 15px;

                button:first-of-type {
                    @include button($button-color, $info-color);
                    transition: all 0.2s ease-in;
                        &:hover {
                            cursor: pointer;
                            @include button(none, $button-color);
                        }
                }
                button:nth-of-type(2) {
                    @include button(none, $button-color);
                    transition: all 0.2s ease-in;
                        &:hover {
                            cursor: pointer;
                            @include button($button-color, $info-color);
                    }
                }
        }

    img {
        padding-top: 92px;
        padding-right: 0px;
        max-width: 803px;
        max-height: 436px;
    }
}

.cards-workers {
    min-height: 584px;
    min-width: 1200px;

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: $spacing-sm;
        margin: -82px 50px 100px 50px;

    .card {
        width: 430px;
        height: 616px;
        background-color: $secondary-color;
        box-shadow: 0px 0px 40px rgba(47, 128, 237, 0.15);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;

            img {
                width: 200px;
                height: 200px;
                padding: 50px 118px 30px 112px;
            }
            h3 {
                font-weight: $primary-font;
                font-size: $primary-size;
                text-align: center;
                color: $heading-color;
                .yellow {
                    color: $button-color;
                }
            }
            p {
                font-family: $secondary-font;
                font-weight: $secondary-bold;
                font-size: $secondary-size;
                line-height: 20px;
                text-align: center;
                color: $heading-color;
                padding: 20px $spacing-lg $spacing-md $spacing-lg;
            }
            button {
                @include button($primary-color, $additional-color);
                margin-left: 135px;
                transition: all 0.2s ease-in;
                cursor: pointer;
                &:hover {
                    @include button($button-color, $info-color);
                }
            }
          
              &:hover {
                transform: translateY(-50px);
              }
                }
    }
}

.description {
    background: url(../assets/background2.png) no-repeat;
    height: 659px;

    &__heading {
            padding-top: 50px;
        p {
            font-family: $secondary-font;
            font-size: $secondary-size;
            line-height: 20px;
            text-align: center;
            color: $heading-color;
        }
    }

    &__main {
        display: flex;
        gap: $spacing-lg;

        .image {
            margin-top: $spacing-lg;
        }

        .text {
            width: 710px;
            height: 398px;
            padding-top: 84px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 40px;
            grid-row-gap: 20px;
          
            .paragraph1 {
              grid-area: 1 / 1 / 2 / 2; 
            }
            .paragraph2 {
              grid-area: 1 / 2 / 2 / 3; 
            }
            .paragraph3 {
              grid-area: 2 / 1 / 3 / 2;
            }
            .paragraph4 {
              grid-area: 2 / 2 / 3 / 3;
            }
          
            img {
              width: 24px;
              height: 24px;
            }
          
            p {
              font-family: $secondary-font !important;
              font-size: $secondary-size;
              line-height: 20px;
              color: $heading-color;
            }
          
            .button1 button {
              @include button($button-color, $info-color);
              transition: all 0.2s ease-in;
              &:hover {
                cursor: pointer;
                @include button(none, $additional-color);
              }
            }
            
            .button2 button {
              @include button(none, $additional-color);
              transition: all 0.2s ease-in;
              &:hover {
                cursor: pointer;
                @include button($button-color, $info-color);
              }
            }
          
            .buttons {
                display: flex;
                gap: $spacing-xs;
                padding-top: 20px;
              }
          }            
    }
}

.services {
    height: 696px;

    .working-types {
        width: 199px;
        padding: $spacing-lg 100px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 61px;
        grid-row-gap: 0px;

        p {
            padding-top: 20px;
            text-align: center;
        }
        }
        
        .type1 { grid-area: 1 / 1 / 2 / 2; }
        .type2 { grid-area: 1 / 2 / 2 / 3; }
        .type3 { grid-area: 1 / 3 / 2 / 4; }
        .type4 { grid-area: 1 / 4 / 2 / 5; }
        .type5 { grid-area: 1 / 5 / 2 / 6; }
}

footer {
    background-color: $primary-color;

    .contact-information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .contact-form {
            margin: 40px 100px;
            input {
                border: none;
                border-radius: 6px;
                width: 470px;
                height: 22px;
                resize: none;
                margin: 10px 0px;
                padding: 14px 16px;
                &::placeholder {
                    font-family: $secondary-font;
                    font-size: $secondary-size;
                    color: $heading-color 0.1;
                }
            }

            textarea {
                border: none;
                border-radius: 6px;
                width: 470px;
                height: 42px;
                resize: none;
                padding: 14px 16px;
                margin: 10px 0px;
                &::placeholder {
                    font-family: $secondary-font;
                    font-size: $secondary-size;
                    color: $heading-color 0.1;
                }
                }

                button {
                    @include button($button-color, $info-color);
                    transition: all 0.2s ease-in;
                        &:hover {
                            cursor: pointer;
                            @include button(none, $additional-color);
                        }
                }
        }


        .contact {
            background: url(../assets/background-footer.png) no-repeat;
            background-size: 801px 430px;
            width: 801px;

            h1 {
                text-align: end;
                padding: 164px $spacing-lg;
                color: $secondary-color;
                font-size: 61px;
                line-height: 72.28px;
            }
        }
    }
}