@import 'variables';
@import 'mixins';

* {
    margin: 0;
    font-family: 'SF Pro Display';
}

body {
    min-width: 1200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

@font-face{
    font-family: 'SF Pro Display';
    src: url('#{$font-path}SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
}

.background {
  background: url(../assets/background.png) no-repeat;
  max-height: 900px;
}

header {
    display: flex;
    flex-direction: row;

    img {
        padding: 55px 79px 0px 50px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap:$spacing-lg;
        padding-top: $spacing-lg;

        a {
            text-decoration: none;
            white-space: nowrap;
            font-family: $secondary-font;
            font-weight: $secondary-bold;
            font-size: $secondary-size;
            color: $secondary-color;

                &:hover {
                    text-decoration: underline;
                    color: $button-color;
                }
        }
        
    }

    .phone-contact {
        padding-left: 190px;
    }
}

.heading-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

        &__title {
            padding: 163px 162px 304px 50px;
            color: $secondary-color;

                h1 {
                    font-size: 67px;
                    padding-bottom: $spacing-xs;
                }

                p {
                    white-space: nowrap;
                    font-family: $secondary-font;
                    font-weight: $secondary-bold;
                    font-size: $secondary-size;
                    padding-bottom: $spacing-md;
                }
        }

        .help-buttons {
            display: flex;
            gap: 15px;

                button:first-of-type {
                    @include button($button-color, $info-color);
                    transition: all 0.2s ease-in;
                        &:hover {
                            cursor: pointer;
                            @include button(none, $button-color);
                        }
                }
                button:nth-of-type(2) {
                    @include button(none, $button-color);
                    transition: all 0.2s ease-in;
                        &:hover {
                            cursor: pointer;
                            @include button($button-color, $info-color);
                    }
                }
        }

    img {
        padding-top: 92px;
        padding-right: 0px;
        max-width: 803px;
        max-height: 436px;
    }
}

.cards-workers {
    min-height: 584px;
    min-width: 1200px;

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: $spacing-sm;
        margin: -82px 50px 100px 50px;

    .card {
        width: 430px;
        height: 616px;
        background-color: $secondary-color;
        box-shadow: 0px 0px 40px rgba(47, 128, 237, 0.15);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;

            img {
                width: 200px;
                height: 200px;
                padding: 50px 118px 30px 112px;
            }
            h3 {
                font-weight: $primary-font;
                font-size: $primary-size;
                text-align: center;
                color: $heading-color;
                .yellow {
                    color: $button-color;
                }
            }
            p {
                font-family: $secondary-font;
                font-weight: $secondary-bold;
                font-size: $secondary-size;
                line-height: 20px;
                text-align: center;
                color: $heading-color;
                padding: 20px $spacing-lg $spacing-md $spacing-lg;
            }
            button {
                @include button($primary-color, $additional-color);
                margin-left: 135px;
                transition: all 0.2s ease-in;
                cursor: pointer;
                &:hover {
                    @include button($button-color, $info-color);
                }
            }
          
              &:hover {
                transform: translateY(-50px);
              }
                }
    }
}